# Core dependencies
rerun-sdk==0.22.1
rerun-animation==0.1.4
numpy==2.2.4
colour==0.1.5

# Model processing
trimesh==4.6.6
scipy==1.10.1
chumpy==0.70

# Image processing
scikit-image==0.19.3
opencv-python==4.8.0.76
pillow==11.1.0

# Utilities
rich==14.0.0
tqdm==4.66.1
importlib-metadata==8.6.1
